# Archivos y directorios de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Entornos virtuales
venv/
.venv/
env/
.env/

# Variables de entorno
.env
.secrets

# Archivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo

# Archivos de sistema
.DS_Store
Thumbs.db

# Logs y archivos temporales
*.log
*.tmp